/* Reset global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos del cuerpo */
body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%), 
                url('wasser.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eef6f9;
    padding: 20px;
}

/* Contenedor principal */
.contenedor {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

/* Títulos */
h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Etiquetas */
label {
    display: block;
    margin-top: 15px;
    font-size: 1.2rem;
}

/* Campos de entrada */
select, input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    border: 1px solid #1354A5;
    border-radius: 5px;
    background: #eef6f9;
    color: #041832;
}

/* Botones */
button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #1354A5;
    color: #eef6f9;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #041832;
}

/* Resultado */
#resultado {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
